.w .main {
    height: 450px;
    width: 980px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.bargain {
    margin-top: 5px;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}
.news_hd h5 {
    float: left;
}
.news_hd .more {
    float: right;
}
.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon'
}
.news_bd {
    padding: 5px 15px 0;
}
.news_bd ul li{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li:nth-child(1) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    margin-left: 5px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.lifeservice ul li:nth-child(2) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    margin-left: 3px;
    background: url(../images/icons.png) no-repeat -80px -15px;
}
.lifeservice ul li:nth-child(2) {
    position: relative;
}
.lifeservice ul li:nth-child(2) .less {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 7px;
    height: 5px;
    width: 5px;
    color: #fff;
    z-index: 2;
    font-size: 18px;
    -webkit-transform: scale(0.5);
}
.lifeservice ul li:nth-child(2) .green {
    display: inline-block;
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    z-index: 1;
    border-top: 12px solid green;
    border-right: 6px solid green;
    border-bottom: 6px solid transparent;
    border-left: 6px solid green;
}
.lifeservice ul li:nth-child(3) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -141px -14px;
}
.lifeservice ul li:nth-child(4) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -206px -13px;
}
.lifeservice ul li:nth-child(5) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -17px -83px;
}
.lifeservice ul li:nth-child(6) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -79px -83px;
}
.lifeservice ul li:nth-child(7) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -142px -83px;
}
.lifeservice ul li:nth-child(8) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -205px -83px;
}
.lifeservice ul li:nth-child(9) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -17px -152px;
}
.lifeservice ul li:nth-child(10) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -79px -155px;
}
.lifeservice ul li:nth-child(11) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -142px -151px;
}
.lifeservice ul li:nth-child(12) a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -206px -155px;
}
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recom_hd {
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    float: left;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    float: left;
    position: relative;
}
.recom_bd ul li a img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}
.like {
    height: 250px;
    margin-top: 20px;
    overflow: hidden;
}
.like_hd h4 {
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.like_hd a {
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-top: 2px;
    margin-right: 30px;
}
.like_bd {
    width: 1210px;

}
.like_bd ul li {
    float: left;
}
.like_bd ul li a img {
    height: 200px;
    width: 200px;
    border-right: 1px solid #ccc;
}
.like_bd ul li:nth-child(6) a img {
    border-right: 0;
}

/* 家用电器模块 */
.jiadian .box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.tab_list {
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a {
    padding: 0 15px;
}
.box_bd {
    height: 361px;
}
.tab_list_item>div {
    float: left;
}
.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    width: 85px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-right: 10px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}

.phone .box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}