.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header.div {
  height: 100px;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.nav .logo {
  color: green;
}
.nav::before {
  content: '';
}
